[user]
	name = Eric Hu
	email = eric-hu@users.noreply.github.com
[github]
	user = eric-hu
[push]
	default = current
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/erichu/.gitignore-global
[pull]
	default = current
