[color]
	status = auto
	branch = auto
	diff = auto
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore-global
	ignorecase = false
[user]
[github]
	user = eric-hu
	token = 6ffb04da5b7a7cf959e5e2daeacd1589
[credential]
  # Set the credential helper to streamline HTTPS git authentication.  This
  # configuration is more portable than git:// authentication, as public keys
  # don't need to be shared
	helper = osxkeychain
[push]
  #default = simple
[user]
[user]
[user]
	email = hu.eric@gmail.com
	name = Eric Hu
[push]
	default = current
